@model Aula


@{
    ViewData["Title"] = "Cadastro Video Aula";
}

 <div id="wrapper">
        
        <h1>Cadastro de Video Aula</h1>
    
    </div>

    <div >
 
            <form method="POST">
                <p class="posicao-Input">
                    <label asp-for=Nome >nome do video</label>
                    <input asp-for=Nome required />                
                </p>

                    <p class="posicao-Input">
                    <label asp-for=ImagemUrl >Url da Imagem</label>
                    <input asp-for=ImagemUrl required/>
                </p>

                <p class="posicao-Input">
                    <label asp-for=VideoUrl >Url do video</label>
                    <input asp-for=VideoUrl required/>
                </p>

                    <p class="posicao-Input">
                    <label asp-for=Duracao >Digite a Duração do Video</label>
                    <input type="number" asp-for=Duracao required/>
                </p>

                <p class="posicao-Input">
                    <label asp-for=Preco >Digite o Preço da Video Aula</label>
                    <input type="number" asp-for=Preco required/>
                </p>
                    
                    <button type="submit">Cadastrar</button>

            </form>

      
         
        
    </div>