
@{
    ViewData["Title"] = "Confirmação";
}

 <div id="wrapper">
        
        <p>Video Aula adicionada com Sucesso no Portifolio</p>

        <p>
            <a asp-action="Cadastro"> Adicionar outro video ao portfolio</a>
        </p>

        <p>
            <a asp-action="Lista">Ver Portfolio de Video Aulas</a>
        </p>
    
    </div>

         
        
    </section>