@{
    ViewData["Title"] = "Portifolio";
}

      <div id="wrapper">
        <img src="https://avatars2.githubusercontent.com/u/39628806?s=460&u=6d8a7db5029545fc03d12cf6623d41eca5cd4b3e&v=4" alt="">
        <h1>Thiago Alves</h1>
        <h2>Programador</h2>
        <p>Programador FullStack, trabalha na Gft, colaborador da <a href="https://www.gft.com/br/pt/index/" target="_blank">GFT</a> </p>
    </div>

    <div id="links-footer" class="links">
            <a href="https://github.com/" target="_blank">Github</a>
            <a href="https://twitter.com/login?lang=pt" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/" target="_blank">Linkedin</a>
     </div>  

